.multi-step {
  width: 100%;
  margin: 100px auto;
}
.progtrckr {
  display: flex;
}
.progtrckr li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  width: 30px;
  height: 30px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #3c6997;
  position: relative;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px #3c6997, 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.progtrckr li:before {
  width: 25px;
  height: 25px;
  content: "";
  counter-increment: step;
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: white;
}
.progtrckr li:after {
  width: 1235%;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
  top: 10px;
  left: -300px;
  z-index: -1;
  box-shadow: 0 0 0 3px #3c6997, 0 2px 6px 18px rgba(0, 0, 0, 0);
}
.progtrckr-doing:after {
  width: 100%;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
  top: 10px;
  left: -204px;
  z-index: -1;
  box-shadow: 0 0 0 3px #3c6997, 0 2px 6px 18px rgba(0, 0, 0, 0);
}
.progtrckr li:first-child:after {
  content: none;
  border-color: #fa0;
  background: #fa0;
  color: white;
}
.progtrckr li.progtrckr-doing {
  color: green;
}
.progtrckr li.progtrckr-doing:before {
  background: #fa0;
}
.progtrckr li.progtrckr-doing:after {
  border-color: #fa0;
  background: #fa0;
  color: white;
}
.progtrckr li.progtrckr-doing + li:after {
  border-color: #3c6997;
  background: #fa0;
  color: white;
}
em {
  display: none;
}
.progtrckr li.progtrckr-done:after {
  border-color: #fa0;
  background: #fa0;
  color: white;
}
.progtrckr li.progtrckr-done:before {
  background: #fa0;
  color: white;
}
